<div>
  <h2>練習路徑</h2>
  <a routerLink="/counter">counter</a><br>
  <a routerLink="/youtube">youtube</a><br>
  <a routerLink="/obserable">obserable</a><br>
  <a routerLink="/subject">subject</a><br>
  <a routerLink="/behaviorSubject">behaviorSubject</a><br>
  <a routerLink="/replaySubject">replaySubject</a><br>
  <a routerLink="/asyncSubject">AsyncSubjectComponent</a><br>
  <a routerLink="/coldTowarm">ColdToWarmObservableComponent</a><br>
  <a routerLink="/ofComponent">OfComponent</a><br>
  <a routerLink="/fromComponent">FromComponent</a><br>
  <a routerLink="/fromEventComponent">FromEventComponent</a><br>
  <a routerLink="/fromEventPatternComponent">FromEventPatternComponent</a><br>
  <a routerLink="/rangeComponent">RangeComponent</a><br>
  <a routerLink="/iifComponent">IifComponent</a><br>
  <a routerLink="/inervalComponent">InervalComponent</a><br>
  <a routerLink="/timerComponent">TimerComponent</a><br>
  <a routerLink="/deferComponent">DeferComponent</a><br>
  <a routerLink="/throwErrorComponent">ThrowErrorComponent</a><br>
  <a routerLink="/ajaxComponent">AjaxComponent</a><br>
  <a routerLink="/concatComponent">ConcatComponent</a><br>
  <a routerLink="/mergeComponent">MergeComponent</a><br>
  <a routerLink="/zipComponent">ZipComponent</a><br>
  <a routerLink="/partitionComponent">PartitionComponent</a><br>
  <a routerLink="/combineLatestComponent">CombineLatestComponent</a><br>
  <a routerLink="/forkjoinComponent">ForkjoinComponent</a><br>
  <a routerLink="/raceComponent">RaceComponent</a><br>
  <a routerLink="/mapComponent">MapComponent</a><br>
  <a routerLink="/scanComponent">ScanComponent</a><br>
  <a routerLink="/pairwiseComponent">PairwiseComponent</a><br>
  <a routerLink="/switchMapComponent">SwitchMapComponent</a><br>
  <a routerLink="/concatMapComponent">ConcatMapComponent</a><br>
  <a routerLink="/mergeMapComponent">MergeMapComponent</a><br>
  <a routerLink="/exhaustMapComponent">ExhaustMapComponent</a><br>
  <a routerLink="/switchAllComponent">SwitchAllComponent</a><br>
  <a routerLink="/concatAllComponent">ConcatAllComponent</a><br>
  <a routerLink="/mergeAllComponent">MergeAllComponent</a><br>
  <a routerLink="/combineLatestAllComponent">CombineLatestAllComponent</a><br>
  <a routerLink="/startWithComponent">StartWithComponent</a><br>
  <a routerLink="/filterComponent">FilterComponent</a><br>
  <a routerLink="/firstComponent">FirstComponent</a><br>
  <a routerLink="/lastComponent">LastComponent</a><br>
  <a routerLink="/singleComponent">SingleComponent</a><br>
  <a routerLink="/takeUntilComponent">TakeUntilComponent</a><br>

  <a routerLink="/takeWhileComponent">TakeWhileComponent</a><br>
  <a routerLink="/skipComponent">SkipComponent</a><br>
  <a routerLink="/skipLastComponent">SkipLastComponent</a><br>
  <a routerLink="/skipUntilComponent">SkipUntilComponent</a><br>
  <a routerLink="/skipWhileComponent">SkipWhileComponent</a><br>
  <a routerLink="/distinctComponent">DistinctComponent</a><br>
  <a routerLink="/disitinctUntilChangedComponent">DisitinctUntilChangedComponent</a><br>
  <a routerLink="/distinctUntilKeyChangedComponent">DistinctUntilKeyChangedComponent</a><br>
  <a routerLink="/sampleTimeComponent">SampleTimeComponent</a><br>
  <a routerLink="/sampleComponent">SampleComponent</a><br>
  <a routerLink="/auditTimeComponent">AuditTimeComponent</a><br>
  <a routerLink="/auditComponent">AuditComponent</a><br>
  <a routerLink="/debounceTimeComponent">DebounceTimeComponent</a><br>
  <a routerLink="/debounceComponent">DebounceComponent</a><br>
  <a routerLink="/isEmptyComponent">IsEmptyComponent</a><br>
  <a routerLink="/defaultIfEmptyComponent">DefaultIfEmptyComponent</a><br>
  <a routerLink="/findComponent">FindComponent</a><br>
  <a routerLink="/findIndexComponent">FindIndexComponent</a><br>
  <a routerLink="/everyComponent">EveryComponent</a><br>
</div>

<br>
<router-outlet></router-outlet>